.save-btn {
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #FCB627;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 109px;
    border: 0;
    width: 130px;
    height: 40px;
}

.close-btn {
    border: 2px solid #263238;
    border-radius: 109px;
    width: 110px;
    background: none;
    color: black;
    height: 40px;
}

.modal-footer {
    justify-content: center;
}